.mahaLogo-brand{
    width: 15%;
}
.nav-link{
    font-size: 14px;
}
.lead{
    font-size: 17px;
}
.contact{
    font-size: 13px;
}
.navButton{
    background-color: #57093d;
}
.main-image{
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(/images/talent\ image.jpg);
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    height: 75vh;
}
.candidates{
    background-color: #e9ecef;
}
.secondBox{
    background-color: #85252e;
}
.thirdBox{
    background-color: #9c337d;
}
.copyRight{
    font-size: 12px;
}
html,body{
    overflow-x: hidden;
    background-color: #fafafa;
}
.message{
    z-index: 99;
}
.firstsvg{
    margin-right: auto;
    margin-left: auto;
}
.recruitersBody{
    background-color: rgb(228, 228, 229);
}
.recruitersImage{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/images/recruiter.jpg);
    background-position: center;
    background-size: cover;
    height: 74vh;
}
.content{
    box-shadow: 0 0 5px white;
    border-radius: 3px;
}
.categories{
    /* background-color: rgba(231, 231, 255, 0.91); */
    color: blue;
}
.content i{
    background-color: rgba(231, 231, 255, 0.91);
    border-radius: 50px;
    padding: 10px 14px;
}
.myTeam i{
    font-size: 50px;
    color: blueviolet;
}
.myTeam h4{
    
    color: rgb(39, 55, 121);
}
.big-text{
    font-size: 17px;
}
@media screen and (max-width: 992px) {
    .main-image{
        height: 88vh;
    }
}
@media screen and (max-width:768px) {
    .aa{
        font-size: 2px;
    }
}
    
